<html>
    <head>
        <title>Ebitenyefa Baralaye</title>
    </head>
    <body style="font-size: 10px; font-family: helvetica, arial; color: #444444; background-color: #ffffff;">
        <center>
            <table class="Wrap" border="0" cellspacing="0" cellpadding="0" width="675" style="padding-top: 40px; margin-right: auto; margin-left: auto;">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;">
                            <table class="nav" border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tbody>
                                    <tr>
                                        <th style="font-weight: bold; font-family: helvetica, arial; font-size: 12px; letter-spacing: 5px; vertical-align: top; text-align: left; line-height: 20px; margin-bottom: 5px;" width="50%"> <a href="http://baralaye.com" style="border: 0px; color: #4f569f; text-decoration: none;" class="Logo">Ebitenyefa Baralaye</a> </th>
                                        <th style="font-weight: bold; font-family: helvetica, arial; font-size: 12px; vertical-align: top; text-align: right; line-height: 20px; margin-bottom: 5px;" width="12%"> <a href="http://baralaye.com/art" style="border: 0px; color: #4f569f; text-decoration: none;">Art</a> </th>
                                        <th style="font-weight: bold; font-family: helvetica, arial; font-size: 12px; vertical-align: top; text-align: right; line-height: 20px; margin-bottom: 5px;" width="12%"> <a href="http://baralaye.com/statement" style="border: 0px; color: #4f569f; text-decoration: none;">About</a> </th>
                                        <th style="font-weight: bold; font-family: helvetica, arial; font-size: 12px; vertical-align: top; text-align: right; line-height: 20px; margin-bottom: 5px;" width="12%"> <a href="http://baralaye.com/connect" style="border: 0px; color: #4f569f; text-decoration: none;">Social</a> </th>
                                    </tr>
                                    <tr>
                                        <td style="background-color: #dfdfdf; line-height: 2px; height: 2px; font-size: 2px;" colspan="4" class="hr">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="height: 35px; line-height: 35px;" colspan="4" class="pad">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- //////// Begin - Body Contnet //////// -->

                            <table border="0" cellspacing="0" cellpadding="0" class="page-body">
                                <tbody>
                                    <tr>
                                        <td width="675" style="vertical-align:top;text-align:center;">
                                        <a style="border:0;text-decoration:none;" href="http://baralaye.com/art"><img src="http://baralaye.com/images/post/thank-you.jpg" alt="Thank you" style="border:0; margin: 0 0 15px 0; padding:0;"></a>
                                        <h3 style="font-size:15px; font-weight:normal; margin: 0 0 10px"><a style="font-size:15px; letter-spacing:2px;font-weight:normal;margin: 0 0 10px 0;font-family:helvetica,arial;text-decoration:none;color:#444444;" href="http://baralaye.com/post/efa-open-studios-2013">Elizabeth Foundation Open Studios 2013</a></h3>
                                        <p style="font-size:11px; line-height:18px;letter-spacing:1px;margin: 0 0 15px 0;font-family:helvetica,arial;color:#444444;">Thank you for visiting my art studio last week during the <a style="color:#4F569F;border:0;text-decoration:none;" href="http://www.efanyc.org/open-studios/">Elizabeth Foundation for the Arts Open Studios</a>. I enjoyed your questions, comments, compliments and simply getting to share <a style="color:#4F569F;border:0;text-decoration:none;" href="http://baralaye.com/art">my work</a> with you.<br>
                                        You are welcomed to <a style="color:#4F569F;border:0;text-decoration:none;" href="http://baralaye.com/connect">visit</a> again anytime.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="675" height="15"></td>
                                    </tr>
                                    <tr>
                                        <td width="675" style="vertical-align:top;text-align:center;">
                                        <p style="font-size:11px; line-height:18px;letter-spacing:1px;margin: 0 0 15px 0;font-family:helvetica,arial;color:#444444;">Best wishes.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="675" height="15"></td>
                                    </tr>
                                    <tr>
                                        <td width="675" style="vertical-align:top;text-align:center;">
                                        <a href="http://www.baralaye.com" class="signature" style="color:#4F569F;border:0;text-decoration:none;"><img style="border:0;" src="http://www.baralaye.com/images/template/signature.jpg"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- //////// End - Body Contnet //////// -->

                            <table class="nav" border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td style="height: 35px; line-height: 40px;" colspan="5" class="pad">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th width="34%">&nbsp;</th>
                                        <th style="font-weight: bold; vertical-align: top; text-align: left; line-height: 20px; font-family: helvetica, arial; font-size: 11px;" width="12%"> <a href="http://baralaye.com/art" style="border: 0px; color: #4f569f; text-decoration: none;">Art</a> </th>
                                        <th style="font-weight: bold; vertical-align: top; text-align: left; line-height: 20px; font-family: helvetica, arial; font-size: 11px;" width="12%"> <a href="http://baralaye.com/statement" style="border: 0px; color: #4f569f; text-decoration: none;">About</a> </th>
                                        <th style="font-weight: bold; vertical-align: top; text-align: left; line-height: 20px; margin-bottom: 5px; font-family: helvetica, arial; font-size: 11px;" width="12%"> <a href="http://baralaye.com/connect" style="border: 0px; color: #4f569f; text-decoration: none;">Social</a> </th>
                                        <th width="30%">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <td style="background-color: #dfdfdf; line-height: 2px; height: 2px; font-size: 2px;" colspan="5" class="hr">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="left" style="width: 34%;">
                                            &nbsp;
                                        </td>
                                        <td class="right" style="line-height: 20px; vertical-align: top; text-align: left; font-family: helvetica, arial; font-size: 11px; width: 12%;">
                                            <a href="http://baralaye.com/art/sculpture" style="border: 0px; color: #4f569f; text-decoration: none;">Sculpture</a><br />
                                            <a href="http://baralaye.com/art/vessels" style="border: 0px; color: #4f569f; text-decoration: none;">Vessels</a><br />
                                            <a href="http://baralaye.com/art/drawings" style="border: 0px; color: #4f569f; text-decoration: none;">Drawings</a>
                                        </td>
                                        <td class="right" style="line-height: 20px; vertical-align: top; text-align: left; font-family: helvetica, arial; font-size: 11px; width: 12%;">
                                            <a href="/biography" style="border: 0px; color: #4f569f; text-decoration: none;">Biography</a><br />
                                            <a href="http://baralaye.com/statement" style="border: 0px; color: #4f569f; text-decoration: none;">Statement</a><br />
                                            <a href="http://baralaye.com/cv" style="border: 0px; color: #4f569f; text-decoration: none;">CV</a><br />
                                        </td>
                                        <td class="right" style="line-height: 20px; vertical-align: top; text-align: left; font-family: helvetica, arial; font-size: 11px; width: 12%;">
                                            <a href="http://baralaye.com/connect" style="border: 0px; color: #4f569f; text-decoration: none;">Connect</a><br />
                                            <a href="http://baralaye.com/news" style="border: 0px; color: #4f569f; text-decoration: none;">News</a><br />
                                            <a href="http://baralaye.com/blog" style="border: 0px; color: #4f569f; text-decoration: none;">Blog</a><br />
                                        </td>
                                        <td style="width: 30%; text-align: right;">
                                            <a href="http://facebook.com/baralaye" target="_blank"><img src="http://baralaye.com/images/social/small/facebook.png" alt="Facebook" /></a>
                                            <a href="http://twitter.com/baralaye" target="_blank"><img src="http://baralaye.com/images/social/small/twitter.png" alt="Twitter" /></a>
                                            <a href="http://instagram.com/baralaye" target="_blank"><img src="http://baralaye.com/images/social/small/instagram.png" alt="Instagram" /></a>
                                            <a href="http://pinterest.com/baralaye" target="_blank"><img src="http://baralaye.com/images/social/small/pinterest.png" alt="Pinterest" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" height="35">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="font-family: helvetica, arial; font-size: 11px; text-align: center; line-height: 30px;">
                                            ebi@baralaye.com
                                            &nbsp;&nbsp;/&nbsp;&nbsp;
                                            646.301.6311
                                            &nbsp;&nbsp;/&nbsp;&nbsp;
                                            <a href="http://maps.google.com/maps?q=Ebitenyefa+Baralaye" style="border: 0; color: #4f569f; text-decoration: none;">323 West 39th St #914, New York, NY 10018</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" mc:edit="std_utility" style="font-family: helvetica, arial; font-size: 11px; text-align: center; line-height: 30px;">
                                            <a href="*|UNSUB|*" style="border: 0; color: #4f569f; text-decoration: none;"><b>Unsubscribe</b> from this list</a>
                                            &nbsp;&nbsp;/&nbsp;&nbsp;
                                            <a href="*|UPDATE_PROFILE|*" style="border: 0; color: #4f569f; text-decoration: none;"><b>Update</b> subscription preferences</a>
                                            <!-- *|IFNOT:ARCHIVE_PAGE|* -->
                                            &nbsp;&nbsp;/&nbsp;&nbsp;
                                            <a href="*|ARCHIVE|*" style="border: 0; color: #4f569f; text-decoration: none;"><b>View</b> email in browser</a>
                                            <!-- *|END:IF|* -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="font-family: helvetica, arial; font-size: 11px; letter-spacing: 4px; text-align: center; line-height: 30px;">
                                            &copy; <a href="http://baralaye.com" style="border: 0; color: #4f569f; text-decoration: none;">Ebitenyefa Baralaye</a> 2013
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
        <br />
        <br />
        <br />
        <br />
    </body>
</html>
